* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100pw;
    padding-right: 50px;
    padding-left: 50px;
    overflow: hidden;
}

.header {
    position: relative;
    height: 100vh;
    background: rgb(255, 255, 255)
}

.logo {
    border-radius: 500%;
    width: 60px;
}

.image-wrapper {
    display: flex;
    justify-content: space-between;

}

nav {
    display: flex;
    width: 100%;
    margin: 20px;
    ;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.beeku {
    display: flex;
}

nav ul {
    display: flex;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    width: max-content;
}

.details {

    display: flex;
    justify-content: center;
    flex-direction: column;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.details h1 {
    font-size: 50px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

.color-red {
    color: red;
}

.color-purple {
    color: blueviolet;
}

.one {
    color: blueviolet;
}

.two {
    color: blueviolet;
}

.bee {
    color: rgb(0, 0, 0);
}

.beeku {
    color: rgb(0, 0, 0);
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: rgb(225, 5, 5);
}

.images {}

.images img {
    width: 1546px;
    height: 345px;
    ;
}

.images img {
    border-radius: 500%;
    width: 227px;
}

.images img {
    object-fit: cover;
}




@media(max-width:600px) {
    .header {
        width: 100%;
    }

    .images {
        display: flex;
        justify-content: center;
    }

    .image-wrapper {
        flex-direction: column;
    }
    nav{
        display: none;
    }
}